.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 1rem;
  color: var(--black-font-color);
}
.signup-form p:first-of-type {
  font-size: var(--big-text-font-size);
  font-weight: bold;
  margin: 0 0 1.6rem 1rem;
  text-align: center;
  word-break: keep-all;
}

.signup-form p:nth-of-type(2) {
  font-size: var(--h3-font-size);
  margin: 0 0 2.4rem 1rem;
  text-align: center;
  word-break: keep-all;
}
.signup-fieldset {
  width: 100%;
  max-width: 55rem;
  padding: 0 3rem;
}
.form-field {
  display: grid;
  grid-template-areas: "label label" "input img" "invalid invalid";
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.4rem;
}

.invalid-text {
  color: var(--invalid-text-color);
  grid-area: invalid;
}

.form-field input {
  width: 100%;
  max-width: 44rem;
  padding: 1rem 0 1rem 0;
  background-color: var(--input-color);
  border: 0.2rem solid transparent;
  border-radius: 1rem;
  font-size: var(--body-font-size);
  text-indent: 2rem;
  color: var(--black-font-color);
  grid-area: input;
}

.form-field input:focus,
.input-wrapper div button:focus {
  outline: none;
  border: 0.2rem solid var(--focus-border-color);
}

.form-field input:-webkit-autofill,
.form-field input:-webkit-autofill:hover,
.form-field input:-webkit-autofill:focus,
.form-field input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--black-font-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--input-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form-field .invalid {
  border: 0.2rem solid var(--invalid-border-color);
}

.form-field label {
  font-size: var(--h2-font-size);
  font-weight: bold;
  max-width: 49.6rem;
  position: relative;
  margin-top: 1.6rem;
  grid-area: label;
}

.form-field img {
  grid-area: img;
  margin-left: 1.6rem;
}

.input-wrapper {
  display: flex;
  gap: 0.8rem;
}

.input-wrapper div {
  border-radius: 1rem;
  font-size: var(--body-font-size);
  max-width: 12.6rem;
}
.input-wrapper > div:first-of-type {
  max-width: 16rem;
  margin-right: 1.6rem;
}

.agree label {
  margin: 3.6rem auto 6.6rem auto;
}

.next-btn,
.main-btn {
  padding: 0.8rem 2.4rem;
  border-radius: 1rem;
  font-size: var(--body-font-size);
  background-color: var(--deep-pink-color);
  color: #ffffff;
  position: absolute;
  right: 5.2rem;
  bottom: -1.3rem;
}

.main-btn {
  background-color: var(--background-lightgray);
  color: var(--black-font-color);
  position: absolute;
  right: unset;
  left: 4rem;
}

.next-btn:hover {
  background-color: var(--hover-btn-color);
}

.next-btn:active {
  background-color: var(--active-btn-color);
}

.main-btn:hover,
.next-btn:disabled {
  background-color: var(--none-active-color);
  color: #fff;
}

@media (max-width: 720px) {
  .signup-form p:first-of-type {
    font-size: var(--h2-font-size);
    margin: 0 0 0.5rem 0;
  }
  .signup-form p:nth-of-type(2),
  .form-field input {
    font-size: var(--h3-font-size);
    margin: 0 0 0.4rem 0;
  }
  .form-field label {
    font-size: var(--h2-font-size);
    margin-top: 0;
  }
  .agree label {
    margin: 1.6rem auto 4.6rem auto;
  }
}

@media (max-width: 480px) {
  .signup-fieldset {
    padding: 0;
  }

  .form-field {
    gap: 0.2rem;
  }
  .invalid-text {
    font-size: var(--small-text-font-size);
  }

  .form-field input {
    padding: 0.8rem 0;
  }

  .form-field label img {
    position: absolute;
    top: 4rem;
    right: -4.6rem;
  }

  .input-wrapper {
    display: grid;
    grid-template-columns: 137fr 92fr 92fr;
    gap: 0.4rem;
  }

  .input-wrapper > div:first-of-type {
    padding-right: 0.4rem;
    margin-right: 0;
  }

  .input-wrapper div button {
    font-size: var(--h3-font-size);
    padding: 0.8rem;
  }

  .input-wrapper div ul li {
    font-size: var(--small-text-font-size);
    padding: 0.8rem 0;
    text-align: center;
  }

  .btn-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main-btn,
  .next-btn {
    font-size: var(--some-font-size);
    position: inherit;
    padding: 0.4rem 2rem;
    border-radius: 5px;
  }
}
