.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 1rem;
}
.signup-form p:first-of-type {
  font-size: var(--big-text-font-size);
  font-weight: bold;
  margin: 0 0 1.6rem 1rem;
}

.signup-form p:nth-of-type(2) {
  font-size: var(--h3-font-size);
  margin: 0 0 2.4rem 1rem;
}
.signup-fieldset {
  width: 100%;
  max-width: 55rem;
  padding: 0 6rem 0 3rem;
}
.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.invalid-text {
  color: #a12525;
}

.form-field input {
  width: 100%;
  max-width: 44rem;
  padding: 1.2rem 0 1.2rem 0;
  background-color: #e8e8e8;
  border: none;
  border-radius: 1rem;
  font-size: var(--body-font-size);
  text-indent: 2rem;
}
.form-field input:focus,
.form-field select:focus {
  outline: none;
  border: 0.2rem solid #a54cb4;
}

.form-field .invalid {
  border: 0.2rem solid #f41e1e;
}

.form-field label {
  font-size: var(--h2-font-size);
  font-weight: bold;
  max-width: 49.6rem;
  position: relative;
  margin-top: 1.6rem;
}

.form-field label img {
  position: absolute;
  top: 4.2rem;
  right: -4rem;
}

.signup-form .user-login-field p {
  font-size: var(--body-font-size);
  margin: 4rem 0 0.8rem 0;
  text-align: center;
}

.input-wrapper {
  display: flex;
  gap: 0.8rem;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--white-color);
  border: none;
  border-radius: 1rem;
  padding: 1.2rem 2rem;
  font-size: var(--body-font-size);
  width: 100%;
  max-width: 12.6rem;
  cursor: pointer;

  background-image: url("/images/comment-close.svg");
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  object-position: 2rem 2rem;
  background-position: right 0.8rem center;
}

.input-wrapper .selected {
  background-image: url("/images/comment-open.svg");
}

.input-wrapper select:first-of-type {
  max-width: 16rem;
  margin-right: 1.6rem;
}

.agree label {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.6rem;
}

.login-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.login-buttons li:last-of-type {
  position: relative;
  top: 1rem;
}

.next-btn {
  padding: 0.8rem 2.4rem;
  background-color: var(--deep-pink-color);
  border-radius: 1rem;
  font-size: var(--body-font-size);
  color: #ffffff;
  position: absolute;
  right: 5.2rem;
  bottom: 0rem;
}

.next-btn:hover {
  background-color: var(--hover-btn-color);
}

.next-btn:active {
  background-color: var(--active-btn-color);
}

.next-btn:disabled {
  background-color: #77777b;
}

@media (max-width: 480px) {
  .signup-form p:first-of-type {
    font-size: var(--h2-font-size);
  }
  .form-field input {
    font-size: var(--small-text-font-size);
  }
  .form-field label,
  .invalid-text {
    font-size: var(--h3-font-size);
  }
  .form-field label img {
    position: absolute;
    top: 2.8rem;
    right: -4.6rem;
  }
  .input-wrapper select {
    font-size: var(--small-text-font-size);
  }
  .signup-form .user-login-field p {
    font-size: var(--body-font-size);
  }
}
