.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.4rem;
  position: relative;
}

.profile-form p:first-of-type {
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
}

.profile-form p:nth-of-type(2) {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.form-field:first-of-type {
  display: grid;
  grid-template-areas:
    "p img"
    "span img"
    "fileUpload img";
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.2rem;
}

.form-field:first-of-type p {
  font-size: 2.4rem;
  grid-area: p;
  margin: 0;
}

.form-field:first-of-type label {
  grid-area: fileUpload;
  font-size: 1.4rem;
  font-weight: unset;
  color: #000;
  padding: 1.1rem 2.65rem;
  width: fit-content;
  border-radius: 1rem;
  background-color: #9f9f9f;
  cursor: pointer;
}

.form-field:first-of-type input {
  display: none;
}

.form-field:first-of-type span {
  grid-area: span;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
  align-self: flex-start;
}
.form-field:first-of-type img {
  grid-area: img;
  border-radius: 50%;
}

.form-field:not(:first-of-type) {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-field label,
.form-field p {
  font-size: 2.4rem;
  font-weight: bold;
}

.form-field:nth-of-type(2) textarea {
  width: 49.6rem;
  height: 8.8rem;
  background-color: #e8e8e8;
  border: none;
  border-radius: 1rem;
  font-size: 2.4rem;
  padding: 1.2rem 2rem;
  margin-bottom: 3.2rem;
}

.form-field:nth-of-type(2) input:focus {
  outline: none;
  border: 0.2rem solid #a54cb4;
}

.form-field:nth-of-type(2) {
  position: relative;
}

.form-field:nth-of-type(2) span {
  position: absolute;
  right: 0.8rem;
  bottom: 3.6rem;
}

.dark-mode {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 6.9rem;
}

.dark-mode input {
  display: none;
}

.dark-mode input:hover + label,
.buttons button:hover {
  background-color: #cd6969;
  color: #ffffff;
}

.dark-mode input:active + label,
.buttons button:active {
  background-color: #903434;
  color: #ffffff;
}

.dark-mode input:checked + label {
  background-color: #f89b9b;
  color: #ffffff;
}

.dark-mode label {
  font-size: 2rem;
  font-weight: unset;
  width: 16rem;
  height: 4.1rem;
  padding: 1.2rem 0;
  text-align: center;
  background-color: #d9d9d9;
  border-radius: 1rem;
  cursor: pointer;
}

.buttons button {
  font-size: 2.4rem;
  width: fit-content;
  padding: 0.8rem 2.4rem;
  border-radius: 1rem;
  background-color: #f89b9b;
  color: #ffffff;
  position: absolute;
  bottom: -2.1rem;
}
.buttons button:first-of-type {
  left: 4rem;
}

.buttons button:nth-of-type(2) {
  background-color: #d9d9d9;
  color: unset;
  right: 13.4rem;
}

.buttons button:last-of-type {
  right: 4rem;
}
