.signup-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-header img {
  width: 60vw;
  max-width: 86rem;
  filter: var(--filter-EEF0DE);
  height: 100%;
  max-height: 20rem;
  min-height: 12rem;
  object-fit: contain;
}
