/* profile */
.profile-main {
  width: 100%;
  background-color: var(--background-color);
  margin: auto;
  max-width: 72rem;
  flex-basis: 100%;
}

.profile-container {
  width: 100%;
  display: flex;
}

.profile-wrap {
  display: flex;
  margin: auto;
  width: 100%;
  padding: 4.3rem 0 0.3rem 5.1rem;
}

.profile-wrap img {
  width: 15rem;
  height: 15rem;
  margin-right: 4.5rem;
  object-fit: cover;
}

.profile-image {
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.profile-name-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-template-areas: "name follow-btn" "id id";
}

.profile-id {
  display: flex;
  flex-direction: column;
  grid-area: id;
  color: var(--black-transparent-color);
}

.profile-name {
  font-size: var(--h2-font-size);
  grid-area: name;
  color: var(--black-font-color);
}

.profile-btn {
  width: fit-content;
  height: fit-content;
  background-color: var(--deep-pink-color);
  color: var(--white-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  grid-area: follow-btn;
  margin-left: 2.4rem;
}

.profile-btn:hover {
  background-color: var(--hover-btn-color);
}

.profile-btn.active {
  background-color: var(--active-btn-color);
}

.profile-stat {
  display: flex;
  margin-bottom: 0.8rem;
  white-space: nowrap;
  color: var(--black-font-color);
}

.profile-stat li {
  margin-right: 1.4rem;
}

.profile-bio {
  width: 21rem;
  color: var(--black-font-color);
}

/* profile form */

.profile-form {
  display: flex;
  width: 100%;
  flex-direction: row;
  column-gap: 3.8rem;
}

.profile-form input,
.profile-form textarea {
  background-color: var(--background-white);
}

.profile-form-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form-pic label {
  margin-right: 4.5rem;
}

.profile-form-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 0.8rem;
}

.profile-form-info label {
  display: flex;
  flex-direction: column;
  grid-area: private;
  font-size: var(--small-text-font-size);
  color: var(--black-font-color);
}

.profile-form-birthdates {
  display: flex;
  width: 100%;
}

.profile-form-birthdate {
  width: 100%;
}

.profile-form-birthdate > div {
  display: grid;
  grid-template-columns: 131fr 1.6rem 96fr 0.8rem 96fr 1.6rem 4.1rem;
  grid-template-areas: "year blank1 month blank2 day blank3 private";
  align-items: start;
}

.profile-form-birthdate > div > div:nth-of-type(1) {
  grid-area: year;
}

.profile-form-birthdate > div > div:nth-of-type(2) {
  grid-area: month;
}

.profile-form-birthdate > div > div:nth-of-type(3) {
  grid-area: day;
}

.profile-form-birthdate button {
  background-color: var(--background-white);
  color: var(--black-font-color);
}

.profile-form-private {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4.1rem;
}

.relative {
  position: relative;
}

.char-limits {
  position: absolute;
  right: 0.8rem;
  bottom: 0.4rem;
}

.form-btn-row {
  margin-top: 1.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.8rem;
}

.form-btn-row button:nth-child(1) {
  color: var(--always-black-font);
}

/* post */

.no-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3.2rem;
  padding: 5rem 0 0;
}

.no-posts p {
  font-size: 4rem;
  color: var(--black-transparent-color);
  display: inline;
  align-items: center;
}

.no-posts span {
  word-break: keep-all;
}

.no-posts p img {
  vertical-align: sub;
  margin-left: 1rem;
}

.posts-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(14rem, 1fr));
  margin: 1% auto 0 auto;
  gap: 1.5vw;
}

.post-wrap {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--background-white);
  border-radius: 1.5rem;
  padding: 2.6rem 2rem;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  cursor: pointer;
  overflow: hidden;
}

.tomong-stamp {
  position: absolute;
  top: -6.1rem;
  right: -4.8rem;
  width: 22rem;
  height: 16rem;
  opacity: var(--tomong-stamp-one-fifth-opacity);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.post-title {
  font-size: var(--body-font-size);
  font-weight: 700;
  color: var(--black-font-color);
  z-index: 10;
  position: relative;
  display: flex;
}

.post-title img {
  margin-top: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.post-title .private-post {
  margin-right: 0.5rem;
}

.post-title .include-img {
  margin-left: auto;
}

.post-text {
  width: 100%;
  /* height: 100%; */
  margin: 1.5rem 0 0.9rem 0;
  font-size: var(--small-text-font-size);
  line-height: 1.6rem;
  overflow: hidden;
  white-space: pre-wrap;
  word-break: break-word;
  position: relative;
  color: var(--black-font-color);
  z-index: 10;
}

.post-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  display: block;
  background: var(--post-text-blur);
  pointer-events: none;
}

.post-btn-container {
  display: flex;
  column-gap: 1rem;
  position: relative;
}

.post-btn-container button {
  display: flex;
  align-items: center;
  font-size: var(--small-text-font-size);
  column-gap: 0.4rem;
  color: var(--black-font-color);
}

.post-btn-container button:last-child {
  margin-left: auto;
}
.post-btn-container img {
  width: 1.5rem;
}

@media (max-width: 860px) {
  .profile-wrap {
    padding: 4.3rem 0 4.3rem 0;
    flex-direction: column;
  }

  .profile-wrap img {
    width: clamp(10rem, 20vw + 10rem, 15rem);
    height: clamp(10rem, 20vw + 10rem, 15rem);
    margin-right: 2rem;
  }
}
