/* profile */

.profile-main {
  margin: 16.6rem auto 0 auto;
  background-color: var(--background-color);
}

.profile-container {
  width: 76.5rem;
  display: flex;
}

.profile-wrap {
  display: flex;
  margin: auto;
  width: 72rem;
  padding: 4.3rem 10.9rem 4.3rem 5.1rem;
}

.profile-wrap img {
  width: 15rem;
  margin-right: 4.5rem;
}

.profile-image {
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

.profile-name-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-template-areas: "name follow-btn" "id id";
}

.profile-id {
  display: flex;
  flex-direction: column;
  grid-area: id;
  color: var(--black-transparent-color);
}

.profile-name {
  font-size: var(--h2-font-size);
  grid-area: name;
}

.profile-btn {
  width: fit-content;
  height: fit-content;
  background-color: var(--deep-pink-color);
  color: var(--background-white);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  grid-area: follow-btn;
  margin-left: 2.4rem;
}

.profile-btn:hover {
  background-color: var(--hover-btn-color);
}

.profile-btn.active {
  background-color: var(--active-btn-color);
}

.profile-stat {
  display: flex;
  margin-bottom: 0.8rem;
}

.profile-stat dt {
  margin-right: 0.5rem;
}

.profile-stat dd {
  margin-right: 1.4rem;
}

.profile-bio {
  width: 21rem;
}

/* profile form */

.profile-form {
  display: flex;
  width: 100%;
  flex-direction: row;
  column-gap: 3.8rem;
}

.profile-form-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 0.8rem;
}

.profile-form-info label {
  display: flex;
  flex-direction: column;
}

.profile-form-birthdates {
  display: flex;
  width: 100%;
}

.profile-form-birthdate {
  width: 100%;
}

.profile-form-birthdate div {
  display: grid;
  grid-template-columns: 11fr 8fr 8fr 4.1rem;
  align-items: center;
}

.profile-form-birthdate div select {
  margin-right: 0.8rem;
}
.profile-form-birthdate div select:nth-of-type(1) {
  margin-right: 1.6rem;
}

.profile-form-birthdate div select:last-of-type {
  margin-right: 1.6rem;
}

.profile-form-private {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 4.1rem;
}

.relative {
  position: relative;
}

.char-limits {
  position: absolute;
  right: 0.8rem;
  bottom: 0.4rem;
}

.form-btn-row {
  margin-top: 1.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.8rem;
}

/* dashed divider */
.dashed-line {
  width: 100%;
  height: 2px;
  background-image: url(/images/dash.svg);
  background-size: 12px 2px;
  background-repeat: repeat-x;
  background-position: center;
  padding: 4rem 0;
}

/* post */

.no-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3.2rem;
}

.no-posts p {
  font-size: 4rem;
  color: var(--black-transparent-color);
  display: inline-flex;
  align-items: center;
}

.no-posts p img {
  margin-left: 1rem;
}

.posts-container {
  width: 72rem;
  padding: 0 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin: 3rem auto 0 auto;
  gap: 2.32rem;
}

.post-wrap {
  width: 20.8rem;
  height: 20.8rem;
  background-color: var(--background-white);
  border-radius: 1.5rem;
  padding: 2.6rem 2rem;
  position: relative;
}

.post-title {
  width: 15rem;
  font-size: var(--body-font-size);
  font-weight: 700;
}

.post-title.include-img::after {
  content: "";
  background-image: url(/images/image.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 2.6rem;
  right: 2rem;
}

.post-text {
  width: 16.8rem;
  height: 9.6rem;
  margin: 1.5rem 0 0.9rem 0;
  font-size: var(--small-text-font-size);
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.post-btn-container {
  display: flex;
}

.post-btn-container dd {
  font-size: var(--small-text-font-size);
  margin: 0 1rem 0 0.4rem;
}

.post-btn-container dt:last-child {
  margin-left: auto;
}
.post-btn-container img {
  width: 1.5rem;
}

/* // 다크 모드일 시 대시의 배경 이미지를 변경 */

@media (prefers-color-scheme: dark) {
  .dashed-line {
    background-image: url(/images/dash-bright.svg);
  }
}
