/* profile */

.profile-main {
  margin: 16.6rem auto 0 auto;
  background-color: var(--background-color);
}

.profile-container {
  width: 76.5rem;
  display: flex;
}

.profile-wrap {
  display: flex;
  margin: auto;
  width: 72rem;
  padding: 4.3rem 10.9rem 4.3rem 5.1rem;
  border-bottom: 2px dashed var(--gray-font-color);
}

.profile-wrap img {
  width: 15rem;
}

.profile-image {
  object-fit: cover;
  border-radius: 50%;
}

.profile-name-wrap,
.profile-bio {
  margin-left: 4.5rem;
}

.profile-name-wrap {
  display: flex;
}

.profile-name-id {
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 3.6rem;
}

.profile-btn {
  background-color: var(--deep-pink-color);
  color: var(--background-white);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  margin: 1rem 0 2.4rem 1.2rem;
}

.profile-btn:hover {
  background-color: var(--hover-btn-color);
}

.profile-btn.active {
  background-color: var(--active-btn-color);
}

.profile-stat {
  display: flex;
  margin-bottom: 0.8rem;
  margin-left: 3.5rem;
}

.profile-stat dt {
  margin-right: 0.5rem;
}

.profile-stat dd {
  margin-right: 1.4rem;
}

.profile-bio {
  font-size: 1.5rem;
  width: 21rem;
}

/* post */

.posts-container {
  width: 72rem;
  padding: 0 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin: 3rem auto 0 auto;
  gap: 2.32rem;
}

.post-wrap {
  width: 20.8rem;
  height: 20.8rem;
  background-color: var(--background-white);
  border-radius: 1.5rem;
  padding: 2.6rem 2rem;
  position: relative;
}

.post-title {
  width: 15rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.post-title.include-img::after {
  content: "";
  background-image: url(/images/image.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 2.6rem;
  right: 2rem;
}

.post-text {
  width: 16.8rem;
  height: 9.6rem;
  margin: 1.5rem 0 0.9rem 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-btn-container {
  display: flex;
}

.post-btn-container dd {
  margin: 0 1rem 0 0.4rem;
}

.post-btn-container dt:last-child {
  margin-left: auto;
}
.post-btn-container img {
  width: 1.5rem;
}
