.profile-main {
  margin: 16.6rem auto 0 auto;
  background-color: var(--background-color);
  padding-left: 50rem;
}

.profile-container {
  width: 76.5rem;
  padding: 7.5rem 1rem;
  display: flex;
}

.profile-wrap {
  display: flex;
  margin: auto;
}

.profile-wrap img {
  width: 15rem;
}

.profile-name-wrap,
.profile-stat,
.profile-bio {
  padding-left: 4.5rem;
}

.profile-name-wrap {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "name btn"
    "id id";
}

.profile-id {
  grid-area: id;
}

.profile-name {
  font-size: 3.6rem;
  grid-area: name;
}

.follow-btn {
  background-color: var(--background-white);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  grid-area: btn;
  margin: 0.4rem;
}

.profile-stat {
  display: flex;
}

.post-wrap {
  width: 18rem;
  height: 18rem;
  background-color: var(--background-white);
  border-radius: 1.5rem;
  padding: 2rem;
  position: relative;
}

.post-title {
  width: 12rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.post-title.include-img::after {
  content: "";
  background-image: url(/images/image.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.post-text {
  width: 14rem;
  height: 9rem;
  overflow: hidden;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
}

.post-btn-container {
  margin-top: 1rem;
  display: flex;
}

.post-btn-container dt:last-child {
  margin-left: auto;
}
.post-btn-container img {
  width: 1.5rem;
}
