.page-wrap {
  background: var(--background-blue-top);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
}

.logo {
  width: 60rem;
}

.logo img {
  width: 60rem;
}

.page-not-found {
  font-size: var(--h2-font-size);
  padding: 2rem 0 4rem;
}

.go-back-btn {
  font-size: var(--body-font-size);
  background-color: var(--background-dark);
  color: var(--background-white);
  padding: 1.5rem 7rem;
  border-radius: 1rem;
}
