.main-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  overflow: hidden;
}

.article {
  margin-bottom: 4rem;
  width: 100%;
  max-width: 66rem;
}

.post-user-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 0.8rem;
  white-space: nowrap;
  position: relative;
}

div.divider {
  padding: 0;
}

.post-user-info > a img {
  width: 4.9rem;
  height: 4.9rem;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
  margin-right: 1.7rem;
}

.post-user-info a {
  display: flex;
  align-items: center;
  color: var(--black-font-color);
  font-size: var(--h2-font-size);
}

.post-user-info time {
  padding: 0.4rem 0;
  margin-top: 0.8rem;
  margin-left: 0.8rem;
  color: var(--time-font-color);
}

.user-name {
  margin-right: 0.4rem;
}

.user-id {
  color: var(--black-transparent-color);
}

.post-user-info button {
  margin-left: auto;
}

.post-user-info .private-icon {
  margin: 0.7rem 0 0 1rem;
}

.post-content {
  background-color: var(--background-white);
  border-radius: 1.5rem;
  padding: 2.4rem 4rem;
  margin-top: 0.8rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.tomong-stamp {
  position: absolute;
  top: -3.15rem;
  right: -3rem;
  width: 13.5rem;
  opacity: var(--tomong-stamp-one-fifth-opacity);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  opacity: var(--tomong-stamp-one-fifth-opacity);
}

.post-content .post-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
  color: var(--black-font-color);
}

.post-text {
  position: relative;
  z-index: 10;
}

.post-content .post-img-wrap {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  min-width: 0;
  overflow: hidden;
  margin-top: 2.5rem;
  gap: 1rem;
  transition: all 0.3s ease;
}

@media screen and (max-width: 720px) {
  .post-user-info > a {
    display: grid;
    grid-template-areas: "img name" "img id";
    font-size: var(--h3-font-size);
  }

  .post-user-info > a img {
    grid-area: img;
  }

  .post-user-info > a span:first-child {
    grid-area: name;
  }

  .post-user-info > a span:last-child {
    grid-area: id;
  }

  .post-user-info time {
    margin-top: 0;
  }
}

.post-img-wrap .has-overlay {
  position: relative;
  margin-top: 0;
  padding: 0;
}

.post-content .post-img {
  width: 100%;
  background-color: var(--gray-font-color);
  object-fit: cover;
  border-radius: 1rem;
  aspect-ratio: 1/1;
}

.post-img-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: var(--mainPost-img-overlay);
  color: var(--dark-white-color);
  font-weight: bold;
  font-size: var(--h2-font-size);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  filter: none;
  backdrop-filter: blur(0.2rem);
  border-radius: 1rem;
}

.post-btn-content {
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
}

.post-btn-content button {
  display: flex;
  align-items: center;
}

.icon-padding {
  padding: 0.333rem;
}

.post-btn-content .btn-label {
  color: var(--black-font-color);
  padding: 0 1.4rem 0 1rem;
}

.post-btn-content .mark-btn {
  margin-left: auto;
}

.load-more-button {
  margin-left: auto;
  margin-right: auto;
}
