.main-container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  overflow: hidden;
}

.load-more-button {
  margin-left: auto;
  margin-right: auto;
}
