.new-post {
  max-width: 74rem;
  width: calc(100% - 12rem);
  height: calc(100% - 8rem);
  max-height: 100rem;
  min-height: 50rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  background-color: var(--background-lightgray);
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.modal-contents {
  width: 100%;
  height: 100%;
  min-height: 50rem;
  padding: 3.5rem 2.5rem;
}
.new-post::backdrop {
  background-color: var(--background-dimmed);
}
.user-prof {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin-bottom: 3rem;
  width: calc(100% - 4rem);
}
.user-profile-img {
  border-radius: 50%;
  object-fit: cover;
}
.user-name {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
  font-weight: 700;
  width: calc(100% - 5rem);
  color: var(--black-font-color);
}
.user-id {
  font-weight: normal;
  font-size: 1.6rem;
  color: var(--gray-font-color);
}
.user-name-text,
.user-id {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn-close {
  width: 3rem;
  height: 3rem;
  position: absolute;
  right: 2.5rem;
  top: 2rem;
  background-color: inherit;
}
.new-post-form {
  height: calc(100% - 9.5rem);
  min-height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  color: var(--black-font-color);
}
#title {
  background-color: var(--background-white);
  display: flex;
  gap: 1rem;
  width: 88%;
  padding: 2rem;
  border-radius: 1rem;
  margin-right: 1rem;
  position: relative;
}
.title-input {
  width: 100%;
}
#title input[type="text"] {
  background-color: inherit;
  border: 0;

  margin-left: 1rem;
  width: 80%;
  color: var(--black-font-color);
}
#title input[type="checkbox"] {
  appearance: none;
}
#title input[type="checkbox"]::after {
  background-image: url("/images/checkbox.svg");
  content: "";
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
#title input[type="checkbox"]:checked::after {
  background-image: url("/images/checkbox-checked.svg");
  content: "";
  background-position: center;
  background-size: contain;
}
.hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  position: absolute;
  right: -12%;
}
.write-field {
  background-color: var(--background-white);
  border-radius: 1rem;
  height: 100%;
  margin-top: 1rem;

  margin-bottom: 2rem;
  padding: 2rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.write-field-opt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0.4rem;
  margin: 0 0.6rem;
}
.genre-picker {
  display: flex;
  width: 100%;
}
.genre-picker ul {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  align-items: center;
  margin-left: 1rem;
}
.genre-picker li {
  padding: 0.2rem 1rem;
  border-radius: 3rem;
}
.user-feeling {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.btn-feeling {
  background-color: var(--background-lightgray);
  width: 14rem;
  height: 2rem;
  border: 0;
  border-radius: 1rem;
}
/* .btn-feeling-selected {
  height: 2rem;
  padding: 0 2rem;
  background-color: var(--background-lightgray);
  border-radius: 1rem;
} */
.btn-feeling-selected ul {
  display: flex;
  gap: 1rem;
}
.btn-feeling-selected li {
  list-style: none;
  color: var(--black-font-color);
  height: 2rem;
  padding: 0 2rem;
  background-color: var(--background-lightgray);
  border-radius: 1rem;
}
/* 별점 */
.rate-star-container {
  display: flex;
  align-items: center;
}
.rate-star-container p {
  margin-right: 0.2rem;
}
.rate-star {
  appearance: none;
}
.rate-star::after {
  background-image: url("/images/star.svg");
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}
.rate-star:hover::after,
.rate-star:has(~ .rate-star:hover)::after,
.rate-star:checked::after,
.rate-star:has(~ .rate-star:checked)::after {
  background-image: url("/images/star-fill.svg");
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}
.rate-star:hover ~ .rate-star::after {
  background-image: url("/images/star.svg");
}

/* 이미지첨부 */
.image-uploader .btn-upload {
  background-color: var(--background-lightgray);
  width: 10rem;
  padding: 0.2rem 0;
  border: 0;
  border-radius: 0.5rem;
  font-size: var(--small-text-font-size);
  color: var(--black-font-color);
  text-align: center;
}

.image-uploader .btn-upload:hover {
  background-color: var(--none-active-color);
  color: var(--white-color);
}

.image-uploader .btn-upload:active {
  background-color: var(--deep-pink-color);
  color: var(--white-color);
}

.image-uploader #file {
  display: none;
}

.break-line {
  display: inline-block;
  width: 100%;
  height: 1rem;
  background-image: url("/images/dash.svg");
  background-repeat: repeat-x;
  background-position: center;
  margin: 0.8rem 0;
}
.text-field-area {
  width: 100%;
  /* height: calc(100% - 16rem); */
  height: 100%;
  padding: 0.4rem;
  resize: none;
  border: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-field-area.has-image {
  height: calc(100% - 15rem);
}

.text-field-area textarea {
  background-color: inherit;
  color: var(--black-font-color);
  height: 100%;
  padding: 0.6rem;
}
.text-field-area::-webkit-scrollbar,
.image-preview-field::-webkit-scrollbar {
  background-color: inherit;
  width: 2rem;
  height: 2rem;
}

.text-field-area::-webkit-scrollbar-thumb {
  width: 100%;
}

.image-preview-field::-webkit-scrollbar-thumb {
  height: 100%;
}

.text-field-area::-webkit-scrollbar-thumb,
.image-preview-field::-webkit-scrollbar-thumb {
  background-color: var(--none-active-color);
  background-clip: padding-box;
  border: 0.6rem solid transparent;
  border-radius: 1rem;
}
.text-field-area::-webkit-scrollbar-track,
.image-preview-field::-webkit-scrollbar-track {
  border-radius: 1rem;
}

/* 추가이미지 */
.image-preview-field {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.5rem;
  max-height: 15rem;
  overflow-x: auto;
  padding: 1rem;
}

.image-preview-field .preview-image {
  object-fit: contain;
}

.image-preview-field .image-container {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.image-preview-field .image-delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--delete-btn-background);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.btn-submit-area {
  width: calc(100% - 5rem);
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  position: absolute;
  right: 2.5rem;
  bottom: 2rem;
}

.btn-submit {
  background-color: var(--deep-pink-color);
  padding: 0.8rem 4rem;
  border-radius: 0.4rem;
}
@media (max-width: 720px) {
  .hidden {
    top: 110%;
    left: 4%;
    justify-content: flex-start;
  }
  .new-post-form {
    gap: 3rem;
  }
  #title {
    width: 100%;
  }
  .genre-picker {
    flex-direction: column;
    align-items: flex-start;
  }
  .genre-picker ul {
    gap: 0.4rem;
    align-items: flex-start;
    margin-left: 0;
    flex-wrap: wrap;
  }
  .genre-picker li {
    font-size: 1.4rem;
  }
  .user-feeling {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
  }
  .btn-feeling-selected .feeling-selected-list {
    gap: 0.4rem;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .new-post {
    width: calc(100% - 6rem);
  }
  #title {
    padding: 0.8rem;
    /* padding-bottom: 0.8rem; */
  }
  .write-field {
    padding: 0.8rem;
  }
  .write-field-opt {
    margin: 0.8rem;
  }
  .rate-star-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
