/* 따로 container 사용 시 사용 예정 */
.dimmed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0.5;
  background-color: var(--background-dimmed);

  padding: 4rem 0;
}
.post-modal {
  z-index: 1000;
  position: relative;
  margin: 4rem auto;
  width: 155.4rem;
  height: 100rem;
  border-radius: 1rem;
  background-color: var(--background-white);
  border: none;

  display: flex;
  padding: 3.7rem 3.2rem 3.5rem 3.2rem;
}

.bookmark {
  position: absolute;
  top: 0;
}

.post-info-section {
  padding-left: 8.6rem;
}

.profile {
  display: flex;
  gap: 1.7rem;
}

.profile a {
  color: var(--gray-font-color);
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 12.7rem;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

.uploaded-time {
  font-size: 1.5rem;
  color: var(--purple-font-color);
}

.button-list {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.button-list li:first-of-type {
  position: absolute;
  left: 11.8rem;
}
.button-list span {
  position: relative;
  top: -0.3rem;
  left: 0.565rem;
}

.button-list button {
  background: none;
}

.post-text {
  max-width: 63.3rem;
  max-height: 80.3rem;
  background-color: #fcfcfc;
  border-radius: 1rem;
  padding: 1.6rem 1rem 4rem 4.3rem;
  margin-top: 2.067rem;
  font-size: 2.4rem;

  overflow-y: scroll;
}
.post-text img {
  background-color: #d3b7b7;
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.post-text a {
  color: currentColor;
  text-decoration: underline;
}

.post-text::-webkit-scrollbar {
  width: 3.2rem;
}

.post-text::-webkit-scrollbar-thumb {
  background: #8a8a8a;
  height: 18.3rem;
  border: 1.2rem solid #fcfcfc;
  border-radius: 2.6rem;
}

.post-text::-webkit-scrollbar-track {
  background-color: #fcfcfc;
  border-radius: 1.3rem;
}

.post-text-header {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 1.4rem;
}

.post-tag {
  display: flex;
  gap: 0.526rem;
}
.post-tag li {
  width: 3.894rem;
  height: 2rem;
  padding: 0.4rem 0;
  border-radius: 0.5rem;
  text-align: center;
  background-color: var(--background-dimmed);
  /* 내용에 따라 색상 background-color 변경 */
}

.dream-felt {
}

.dream-score {
  font-size: 1.6rem;
}

.dash {
  width: 0;
  height: 92.9rem;
  display: flex;
  border: none;
  border-left: dotted #7e7e7e 0.2rem;
  margin: 0 3.2rem;
}

.close-btn {
  background-color: unset;
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
}

.comment-form {
  position: relative;
}

.comment-input {
  width: 76.1rem;
  height: 9.4rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--none-active-color);
  color: var(--gray-font-color);
  padding: 1.4rem 1.2rem;
}
