.oneiromancy {
  position: absolute;
  top: 1.6rem;
  left: 1.5rem;
}

.comment-article {
  background-color: var(--background-white);
  max-width: 76.1rem;
  min-height: 7rem;
  border-radius: 1rem;
  margin: 3rem 0;
  position: relative;
  padding: 1.6rem 4.2rem 2rem 4rem;
}

.comment-article p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.comment-article:has(.comment-close):not(.comment-open) {
  cursor: pointer;
}

.comment-open p {
  overflow: visible;
  text-overflow: unset;
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
}
.comment-close {
  position: absolute;
  bottom: 0.4rem;
  right: 1.6rem;
}

.comment-info {
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
  color: var(--gray-font-color);
  position: absolute;
  top: -2.4rem;
  left: 0.4rem;
}

.comment-info a {
  color: var(--gray-font-color);
  margin-right: 0.4rem;
}
.comment-info a span {
  font-size: var(--body-font-size);
  color: var(--black-font-color);
}
.comment-info time {
  color: var(--time-font-color);
}
.comment-info img {
  position: absolute;
  top: 0.7rem;
}

.edit-delete-button {
  display: flex;
  position: absolute;
  top: -2.3rem;
  right: 1.5rem;
}

.edit-delete-button li:first-of-type::after {
  content: "|";
  margin: 0 0.4rem;
  display: inline-block;
  position: relative;
  top: 0.1rem;
  color: var(--comment-button-color);
}

.edit-delete-button button {
  color: var(--comment-button-color);
  font-size: var(--small-text-font-size);
}

.edit-delete-button button:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

/* long comment 시 적용되는 css */
article:has(.long-comment-info) {
  margin-top: 5rem;
}
.comment-info:has(.long-comment-info) {
  font-size: var(--small-text-font-size);
  top: -4rem;
}

.long-comment-info a {
  display: flex;
  flex-direction: column;
  top: -3.5rem;
}
