.dimmed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 0.5;
  background-color: var(--background-dimmed);

  padding: 4rem 0;
}

.post-modal {
  z-index: 1000;
  position: fixed;
  margin: 4rem auto;
  max-width: 155.4rem;
  height: 90vh;
  min-height: 50rem;
  max-height: 100rem;
  border-radius: 1rem;
  background-color: var(--background-lightgray);
  border: none;
  display: flex;
  padding: 3.7rem 0 3.5rem 3.2rem;
}

.post-section {
  margin-right: 3.2rem;
  padding-right: 3.2rem;

  background: url(/images/vertical-line.svg) no-repeat right;
}

.bookmark {
  position: absolute;
  top: 0;
}

.post-info-section {
  padding-left: 8.6rem;
}

.post-info-section a img {
  border-radius: 50%;
}

.profile {
  display: flex;
  width: fit-content;
  gap: 1.7rem;
  color: var(--black-font-color);
}

.profile span {
  color: var(--gray-font-color);
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 12.7rem;
  font-size: var(--h2-font-size);
  margin-bottom: 1.6rem;
}

.uploaded-time {
  font-size: var(--body-font-size);
  color: var(--purple-font-color);
}

.button-list {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.button-list li:first-of-type {
  position: absolute;
  left: 11.8rem;
}
.button-list span {
  position: relative;
  top: -0.3rem;
  left: 0.565rem;
}

.post-text {
  height: 82.3%;
  max-width: 66.5rem;
  max-height: 80.3rem;
  background-color: var(--background-white);
  border-radius: 1rem;
  padding: 1.6rem 1rem 4rem 4.3rem;
  margin-top: 2.067rem;
  overflow-y: scroll;
}
.post-text img {
  max-width: 100%;
  margin: 1rem 0;
  border-radius: 1.5rem;
  object-fit: contain;
}

.post-text strong {
  display: inline-block;
  width: 100%;
  margin: 2.5rem 0;
  font-size: var(--h2-font-size);
}

.post-text p {
  white-space: pre-wrap;
}

.post-text a {
  color: currentColor;
  text-decoration: underline;
}

.post-text::-webkit-scrollbar {
  width: 3.2rem;
}

.post-text::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
  height: 18.3rem;
  border: 1.2rem solid var(--background-white);
  border-radius: 2.6rem;
}

.post-text::-webkit-scrollbar-track {
  background-color: var(--background-white);
  border-radius: 1.3rem;
}

.post-text-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
}

.post-tag {
  display: flex;
  gap: 0.82rem;
}
.post-tag li {
  width: fit-content;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: var(--background-dimmed);
}

.dream-felt {
  width: fit-content;
  padding: 0.4rem 2.3rem;
  text-align: center;
  border-radius: 2rem;
  background-color: var(--background-lightgray);
}

.dream-score {
  font-size: var(--h3-font-size);
}

.close-btn {
  background-color: unset;
  position: absolute;
  top: 1.7rem;
  right: 1.7rem;
}

.comment-form {
  position: relative;
  border-radius: 1rem;
  background-color: var(--comment-input-color);
  max-width: 76.1rem;
  max-height: 9.4rem;
  margin: 1.5rem 3.2rem 4.5rem 0;
}

.comment-input {
  width: 100%;
  height: 60%;
  background-color: unset;
  border: none;
  padding: 1.4rem 1.2rem;
  resize: none;
  scrollbar-width: none;
}

.comment-input::placeholder {
  font-family: initial;
  color: var(--gray-font-color);
}

.comment-setting {
  color: var(--black-font-color);
  display: flex;
  gap: 0.8rem;

  position: absolute;
  bottom: -3rem;
  right: 3rem;
  font-size: var(--small-text-font-size);
}
.comment-setting input {
  margin-right: 0.4rem;
}

.comment-setting button {
  position: absolute;
  bottom: -1.2rem;
}

.comment-articles-section {
  max-height: 79%;
  overflow-y: scroll;
  border-radius: 1rem;
}

.comment-articles-section::-webkit-scrollbar {
  width: 3.2rem;
}

.comment-articles-section::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color);
  border: 1.2rem solid var(--background-lightgray);
  border-radius: 2.6rem;
}
.comment-articles-section::-webkit-scrollbar-corner {
  background-color: unset;
}

.checkbox-hide {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.checkbox {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding-left: 2rem;
}

.checkbox::before {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  background-image: url(/images/checkbox.svg);
  background-size: contain;
}

input[type="checkbox"]:checked + label.checkbox::before {
  background-image: url(/images/checkbox-checked.svg);
}
