@import url(./reset.css);

:root {
  --background-blue-top: linear-gradient(180deg, #e3eeff 0%, #f3e7e9 100%);
  --background-pink-top: linear-gradient(180deg, #f3e7e9 50%, #e3eeff 100%);
  --background-color: #eee4e6;
  --background-lightgray: #d9d9d9;
  --background-white: #fcfcfc;
  --background-gray: rgba(149, 149, 149, 0.5);
  --background-dimmed: rgba(17, 17, 17, 0.3);
  --background-dark: #242424;
  --none-active-color: #959595;
  --black-font-color: #141420;
  --gray-font-color: #5f5f5f;
  --purple-font-color: #b79fca;
  --modal-pink-color: #f3e7e9;
  --deep-pink-color: #f89b9b;
  --placeholder-color: #959595;
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  font-size: 62.5%;
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}
