.main {
  width: 100vw;
  height: 100vh;
  background: var(--background-blue-top);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.995rem;
}

.main h1 {
  margin-right: 5rem;
}

.main h1 img {
  width: 85vw;
  max-width: 60rem;
  filter: var(--filter-EEF0DE);
}
