body:has(.main) {
  background: var(--background-blue-top);
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.995rem;
  height: 100vh;
  padding: 0;
}
.main h1 img {
  margin-right: 5rem;
  width: 85vw;
  max-width: 60rem;
  max-height: 25rem;
  filter: var(--filter-EEF0DE);
}
@media (max-width: 480px) {
  .main h1 img {
    margin-right: 3rem;
    max-width: 38.4rem;
  }
}
