body:has(.login-title) {
  background: var(--background-pink-top);
  width: 100vw;
  height: 100vh;
  padding: 0 !important;
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.995rem;
  height: 100vh;
  width: 90vw;
  max-width: 86rem;
  height: fit-content;
  border-radius: 2rem;
  margin: 8rem auto;
  background-color: var(--background-white);
  color: var(--black-font-color);
  gap: 0;
  padding: 5.7rem 5.2rem 4.3rem;
}

.main h1 img {
  width: 85vw;
  max-width: 36rem;
  margin-right: 5rem;
  filter: var(--filter-EEF0DE);
}
.login-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.login-title {
  font-size: var(--big-text-font-size);
  font-weight: bold;
}

.login-container form {
  width: 100%;
  padding: 0;
  max-width: none;
}

.login-container form fieldset {
  width: 100%;
  max-width: 49.6rem;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 720px) {
  main:has(.login-title) {
    height: fit-content;
    margin: 8rem 2rem;
    padding: 1.6rem 2.5rem;
    justify-content: flex-start;
  }
  .main h1 img {
    margin-right: 3rem;
  }
  .login-container {
    gap: 1rem;
  }
  .login-title {
    font-size: var(--h2-font-size);
  }
}
@media (max-width: 480px) {
  .main h1 img {
    margin-right: 1rem;
  }
}
