body:has(.main) {
  background: var(--background-blue-top);
  width: 100vw;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.995rem;
  height: 100vh;
  background: #fff;
  max-width: 86rem;
  height: 92rem;
  border-radius: 2rem;
  margin: 8rem auto;
  color: var(--black-font-color);
  gap: 0;
}
.main h1 {
  margin-right: 5rem;
}
.main h1 img {
  width: 85vw;
  max-width: 48rem;
  filter: var(--filter-EEF0DE);
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.login-title {
  font-size: var(--big-text-font-size);
  font-weight: bold;
}
