.more-modal,
.change-mode-modal {
  width: 30rem;
  background-color: var(--background-white);
  border-radius: 2rem;
  z-index: 100;
}

.modal-items .header-modal-btn {
  width: 30rem;
  font-size: var(--h2-font-size);
  line-height: 2.4rem;
  color: var(--active-header-color);
  padding: 2rem 1.6rem 2rem 3rem;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: left;
}

.modal-items .header-modal-btn:hover {
  background-color: var(--background-color);
}

.modal-items .header-modal-btn.setting-btn:hover,
.modal-items .header-modal-btn.back-more-modal-btn:hover {
  border-radius: 2rem 2rem 0 0;
}

.modal-items .header-modal-btn.logout-btn:hover,
.modal-items .header-modal-btn.device-setting-btn:hover {
  border-radius: 0 0 2rem 2rem;
}

.modal-items .header-modal-btn:not(.logout-btn)::before {
  content: "";
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;
  margin-right: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-items .change-mode-btn::after,
.modal-items .back-more-modal-btn::after {
  content: "";
  width: 3.5rem;
  height: 3.5rem;
  display: inline-block;
  margin-left: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-items .setting-btn::before {
  content: "";
  display: block;
  background-image: url(/images/settings.svg);
}

.modal-items .change-mode-btn.light-mode::before,
.modal-items .light-mode-btn::before,
.modal-items .back-more-modal-btn::after {
  content: "";
  display: block;
  background-image: url(/images/toggle-sun.svg);
}

.modal-items .change-mode-btn.dark-mode::before,
.modal-items .dark-mode-btn::before,
.modal-items .back-more-modal-btn.dark-mode::after {
  content: "";
  display: block;
  background-image: url(/images/toggle-moon-padding.svg);
}

.modal-items .change-mode-btn.device-mode::before,
.modal-items .device-setting-btn::before,
.modal-items .back-more-modal-btn.device-mode::after {
  content: "";
  display: block;
  background-image: url(/images/device.svg);
}

.modal-items .inquiry-btn::before {
  content: "";
  display: block;
  background-image: url(/images/inquiry.svg);
}

.modal-items .change-mode-btn::after {
  content: "";
  display: block;
  background-image: url(/images/chevron-backward.svg);
  transform: rotate(180deg);
}

.modal-items .back-more-modal-btn::before {
  content: "";
  display: block;
  background-image: url(/images/chevron-backward.svg);
}
.modal-items .logout-btn {
  border-top: 1px solid var(--dotted-color);
  padding: 2rem 0 2rem 3rem;
}

.modal-items .back-more-modal-btn {
  border-bottom: 1px solid var(--dotted-color);
  padding: 2rem 2.6rem 1.5rem 3rem;
}

.more-modal li:first-child .more-modal-btn,
.change-mode-modal li:first-child .more-modal-btn {
  border-radius: 2rem 2rem 0 0;
}

.more-modal li:last-child .more-modal-btn,
.change-mode-modal li:last-child .more-modal-btn {
  border-radius: 0 0 2rem 2rem;
}

/* dark mode */

@media (prefers-color-scheme: dark) {
  [data-theme="device"] .modal-items .header-modal-btn:not(.logout-btn)::before,
  [data-theme="device"] .modal-items .change-mode-btn::after,
  [data-theme="device"] .change-mode-btn.device-mode::before,
  [data-theme="device"] .back-more-modal-btn::after {
    /* #EEF0DE */
    filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(93%)
      hue-rotate(28deg) brightness(105%) contrast(88%);
  }
}

[data-theme="dark"] .modal-items .header-modal-btn:not(.logout-btn)::before,
[data-theme="dark"] .modal-items .change-mode-btn::after,
[data-theme="dark"] .change-mode-btn.device-mode::before,
[data-theme="dark"] .back-more-modal-btn::after {
  /* #EEF0DE */
  filter: brightness(0) saturate(100%) invert(89%) sepia(27%) saturate(93%)
    hue-rotate(28deg) brightness(105%) contrast(88%);
}

@media (max-width: 720px) {
  .more-modal,
  .change-mode-modal {
    width: fit-content;
  }

  .more-modal .modal-items a,
  .change-mode-modal .modal-items a,
  .more-modal .modal-items button,
  .change-mode-modal .modal-items button {
    font-size: var(--h3-font-size);
    width: 24rem;
    padding: 0;
    padding: 1.2rem 2.4rem;
    position: relative;
  }

  .more-modal .modal-items a::before,
  .change-mode-modal .modal-items a::before,
  .more-modal .modal-items button::before,
  .change-mode-modal .modal-items button::before,
  .more-modal .modal-items a::after,
  .change-mode-modal .modal-items a::after,
  .more-modal .modal-items button::after,
  .change-mode-modal .modal-items button::after {
    width: 2.4rem;
    height: 2.4rem;
    background-size: contain;
    margin-top: 0;
  }
}
