.header {
  width: 32rem;
  height: 100vh;
  background: var(--background-pink-top);
  box-shadow: 4px 0px 75.5px -20px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 10rem 0 10.6rem 8rem;
  z-index: 100;
}

.logo img {
  width: 90%;
  max-width: 31.4rem;
}

.mode-toggle-btn {
  margin-top: 2rem;
  width: 10rem;
  border-radius: 5rem;
  padding: 0.9rem;
  background-color: transparent;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.mode-toggle-btn.light-mode {
  border: 4px solid var(--black-font-color);
}

.mode-toggle-btn.dark-mode {
  border: 4px solid var(--dark-mode-text);
}

.mode-toggle-btn .toggle-switch {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 5rem;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.mode-toggle-btn.light-mode .toggle-switch {
  background-color: var(--black-font-color);
  background-image: url(/images/toggle-sun2.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-toggle-btn.dark-mode .toggle-switch {
  background-color: var(--dark-mode-text);
  background-image: url(/images/toggle-moon.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(4.5rem, 0);
}

.hidden-btn {
  opacity: 0;
  pointer-events: none;
}

.header-btn-container {
  position: relative;
  padding-top: 5rem;
}

.header-btn-container .nav-item {
  background-color: transparent;
  width: 18rem;
  font-size: var(--h2-font-size);
  text-wrap: nowrap;
  color: var(--none-active-color);
  margin-bottom: 3.2rem;
  display: flex;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

.header-btn-container nav {
  margin-bottom: 10rem;
}

.header-btn-container .nav-item:hover {
  color: var(--hover-text-color);
}

.header-btn-container .nav-item.active {
  padding-bottom: 0.3rem;
  color: var(--active-header-color);
}

.header-btn-container .nav-item.active:not(.more-btn) {
  border-bottom: 3px solid var(--active-header-color);
}

.header-btn-container .nav-item:not(.more-btn).active::after {
  content: "";
  background-image: url(/images/active-star.svg);
  background-size: contain;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  position: absolute;
  right: 0;
}

.nav-items .nav-item::before,
.more-btn::before {
  content: "";
  width: 4rem;
  height: 4rem;
  background-color: var(--none-active-color);
  display: inline-block;
  margin-right: 3rem;
  filter: var(--filter-959595);
}

.nav-items .home-btn::before {
  content: "";
  display: block;
  background: url(/images/home.svg) no-repeat center;
}

.nav-items .search-btn::before {
  content: "";
  display: block;
  background: url(/images/search.svg) no-repeat center;
}

.nav-items .message-btn::before {
  content: "";
  display: block;
  background: url(/images/message.svg) no-repeat center;
}

.nav-items .alarm-btn::before {
  content: "";
  display: block;
  background: url(/images/alarm.svg) no-repeat center;
}

.nav-items .tomong-btn::before {
  content: "";
  display: block;
  background: url(/images/tomong.svg) no-repeat center;
  background-size: contain;
}

.nav-items .writing-btn::before {
  content: "";
  display: block;
  background: url(/images/writing.svg) no-repeat center;
}

.more-btn::before {
  content: "";
  display: block;
  background: url(/images/more.svg) no-repeat center;
}

.nav-items .nav-item:hover::before,
.more-btn:hover::before {
  filter: var(--filter-5f6368);
}

.nav-items .nav-item.active::before,
.more-btn.active::before {
  filter: none;
}

/* 하단 프로필/더보기버튼 */
.profile-btn,
.more-btn {
  display: flex;
  align-items: center;
  position: fixed;
}

.profile-btn {
  bottom: 10rem;
}

.profile-btn img {
  margin-right: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.more-btn {
  bottom: 4rem;
}

@media (max-height: 770px) {
  .profile-btn,
  .more-btn {
    position: static;
    margin-top: 2rem;
  }
}

@media (max-height: 930px) {
  .logo img {
    width: 80%;
    max-width: 31.4rem;
  }

  .mode-toggle-btn {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 9.5rem;
  }

  .header-btn-container {
    padding-top: 3rem;
  }

  .header-btn-container .nav-item {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
    border-bottom: 2px solid transparent;
  }

  .header-btn-container nav {
    margin-bottom: 8rem;
  }

  .nav-items .nav-item::before,
  .more-btn::before {
    width: 3rem;
    height: 3rem;
  }
}

/* dark mode */

@media (prefers-color-scheme: dark) {
  [data-theme="device"] .logo img,
  [data-theme="device"]
    .header-btn-container
    .nav-item:not(.more-btn).active::after,
  [data-theme="device"] .nav-items .nav-item.active::before,
  [data-theme="device"] .more-btn.active::before {
    filter: var(--filter-EEF0DE);
  }
}

[data-theme="dark"] .logo img,
[data-theme="dark"]
  .header-btn-container
  .nav-item:not(.more-btn).active::after,
[data-theme="dark"] .nav-items .nav-item.active::before,
[data-theme="dark"] .more-btn.active::before {
  filter: var(--filter-EEF0DE);
}
