.button {
  background-color: var(--dark-white-color);
  color: var(--always-black-font);
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.8rem 2.4rem;
  font-size: var(--h3-font-size);
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  background-color: var(--none-active-color);
  color: #ffffff;
}

.button-highlight {
  background-color: var(--deep-pink-color);
  color: var(--background-white);
}

.button-highlight:hover {
  background-color: var(--hover-btn-color);
}

.button input[type="file"] {
  display: none;
}

.button-highlight:active {
  background-color: var(--active-btn-color);
}

.button:disabled {
  background-color: var(--none-active-color);
  cursor: not-allowed;
}

.input-text,
.textarea {
  color: var(--input-text-color);
  background-color: var(--input-color);
  border-radius: 1rem;
  padding: 1.2rem 2rem 1.3rem;
  border: none;
  font-size: var(--h3-font-size);
}

.textarea {
  height: 8.8rem;
  resize: none;
}

.selectContainer {
  position: relative;
  width: 100%;
}

.selectButton {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--input-color);
  color: var(--black-font-color);
  border: 0.2rem solid transparent;

  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font-size: var(--body-font-size);
}

.selectButton::after {
  content: "";
  background-image: url("/images/arrow-down.svg");
  width: 2rem;
  height: 2rem;
  background-size: 16px 10px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 0.8rem;
}

.optionsList {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  right: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--background-white);
  border-radius: 10px;
  padding: 0.4rem;
  list-style: none;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  color: var(--black-font-color);
}
/* option 사이마다 optionsList의 구분 선 가상 요소 추가 */

.option {
  padding: 0.8rem 1.8rem;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  position: relative;
  font-size: var(--body-font-size);
}

.option:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  width: 10rem;
  height: 1px;
  transform: translate(-50%, 100%);
  background-color: #ccc; /* 구분선 색상 */
}

.option:hover,
.focused {
  background-color: var(--option-hover-color);
}

.label {
  display: block;
  margin-bottom: 4px;
}

.checkbox {
  display: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

label.checkbox {
  width: fit-content;
  font-size: var(--body-font-size);
  font-weight: 400;
}

label.checkbox a {
  color: var(--deep-pink-color);
  font-weight: 700;
}

.checkbox input {
  display: none;
}

.checkbox-col {
  flex-direction: column;
}

.checkbox::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background-image: url("/images/checkbox.svg");
  background-size: contain;
  margin-right: 0.8rem;
  cursor: pointer;
}

.checkbox-col::before {
  width: 4rem;
  height: 4rem;
  margin-right: 0;
  margin-bottom: 0.4rem;
}

.checkbox:has(input:checked)::before {
  background-image: url("/images/checkbox-checked.svg");
}

.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  align-items: center;
  margin-top: 2.4rem;
  width: 80vw;
  position: relative;
  background-color: #fff;
  border-radius: 2rem;
  padding: 4.4rem 7rem 5.3rem;
  margin: 4rem;
}

.login-form label {
  width: 100%;
  font-size: var(--h3-font-size);
  color: var(--black-font-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form label input {
  width: max-content;
  margin-left: 1.6rem;
}

@media (max-width: 560px) {
  .login-form label {
    flex-direction: column;
    align-items: flex-start;
  }

  .login-form label input {
    width: 100%;
    margin-left: 0;
  }
}

.button-left-bottom {
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
}

.scrollbar-track {
  position: fixed;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  z-index: 100;
  background-color: rgba(229, 231, 235, 0.2);
}

.scrollbar-thumb {
  position: absolute;
  width: 100%;
  background-color: #888;
  border-radius: 999px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 150ms ease;
}

.scrollbar-thumb:hover {
  opacity: 0.8;
}

/* dashed divider */
.dashed-line {
  width: 100%;
  height: 2px;
  background-image: url(/images/dash.svg);
  background-size: 12px 2px;
  background-repeat: repeat-x;
  background-position: center;
  padding: 4rem 0;
}

@media (prefers-color-scheme: dark) {
  /* // 다크 모드일 시 대시의 배경 이미지를 변경 */
  .dashed-line {
    background-image: url(/images/dash-bright.svg);
  }
}

.confirm-modal {
  max-width: 74rem;
  width: 80vw;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 0;
  background-color: var(--modal-pink-color);
  border-radius: 2rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);

  padding: 3.5rem 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 2.4rem;
  font-weight: 700;
}

.confirm-modal p {
  word-break: keep-all;
}
.confirm-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}
.confirm-modal div {
  width: 100%;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
}
.confirm-modal div button {
  width: 100%;
  max-width: 14rem;
  min-width: 8rem;
  padding: 0.8rem;
  margin-top: 2.4rem;
  border-radius: 1rem;
  font-size: 1.6rem;
}
.confirm-modal .btn-yes {
  background-color: var(--deep-pink-color);
}
.confirm-modal .btn-no {
  background-color: white;
}
.confirm-modal .btn-close {
  background-image: url("/images/close.svg");
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0.8rem;
  right: 1.6rem;
}

.share-modal {
  width: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem 1rem 3.7rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-white);
  color: var(--black-font-color);
  border: none;
  border-radius: 1rem;
  row-gap: 0.8rem;
  z-index: 1000;
}

.share-modal::backdrop {
  background-color: var(--background-dimmed);
  z-index: 999;
}

.share-modal * {
  color: var(--black-font-color);
}

.share-modal .btn-close {
  margin-left: auto;
}
.share-modal .btn-close img {
  width: 1.6rem;
  height: 1.6rem;
}

.share-modal h2 {
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.share-modal p {
  font-size: var(--body-font-size);
}

.share-modal form {
  width: 100%;
  border: 1px solid var(--input-color);
  border-radius: 1rem;
  background-color: var(--background-white);
  display: grid;
  grid-template-columns: 1fr auto;
  overflow: hidden;
  margin: 3.2rem 0;
}

.share-modal form input {
  background-color: var(--background-white);
  border: none;
  height: 100%;
  font-size: var(--tiny-text-font-size);
  border-radius: 1rem;
  margin-left: 0.6rem;
}

.share-modal form input:active,
.share-modal form input:focus {
  outline: none;
}

.share-modal form button {
  width: fit-content;
  height: fit-content;
  margin: 0.4rem 1.6rem;
  font-size: var(--tiny-text-font-size);
  margin: 0.55rem 0.6rem;
  border-radius: 1.2rem;
  padding: 0.4rem 1.6rem;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.share-modal .btn-share {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.4rem;
  font-size: var(--small-text-font-size);
}

.share-modal .btn-share img {
  width: 3.2rem;
  height: 3.2rem;
}
