.button {
  background-color: var(--dark-white-color);
  color: var(--black-font-color);
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.8rem 2.4rem;
  font-size: 2.4rem;
  cursor: pointer;
}

.button-highlight {
  background-color: var(--deep-pink-color);
  color: var(--background-white);
}

.button input[type="file"] {
  display: none;
}

.button:hover {
  background-color: var(--hover-btn-color);
}

.button.active {
  background-color: var(--active-btn-color);
}

.button:disabled {
  background-color: var(--disabled-btn-color);
  cursor: not-allowed;
}

.input-text,
.textarea {
  background-color: var(--dark-white-color);
  color: var(--black-font-color);
  border-radius: 1rem;
  padding: 1.2rem 2rem 1.3rem;
  border: none;
  font-size: 2.4rem;
}

.input-text {
}

.textarea {
  height: 8.8rem;
  resize: none;
}

.select {
  height: 5.6rem;
  background-color: #e8e8e8;
  border: none;
  border-radius: 1rem;
  font-size: 2.4rem;
  text-indent: 2rem;
}

.checkbox {
  display: none;
}

.checkbox-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.checkbox-col::before {
  content: "";
  width: 4rem;
  height: 4rem;
  background-image: url("/images/checkbox.svg");
  background-size: contain;
  margin-bottom: 0.4rem;
}

.checkbox-col:has(input:checked)::before {
  background-image: url("/images/checkbox-checked.svg");
}
