@keyframes moons {
  0% {
    background-image: url(/images/moon1.svg);
    transform: rotateY(0deg);
  }
  50% {
    background-image: url(/images/moon1.svg);
    transform: rotateY(180deg);
  }
  100% {
    background-image: url(/images/moon1.svg);
    transform: rotateY(360deg);
  }
}

@keyframes loadingCircle {
  0% {
    background-image: url(/images/loading-spinner.svg);
    transform: rotateZ(0deg);
  }

  100% {
    background-image: url(/images/loading-spinner.svg);
    transform: rotateZ(360deg);
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading div,
.loading-small div {
  animation-name: moons;
  width: 10.6rem;
  height: 10.6rem;
  background-image: url(/images/moon1.svg);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center;
}

.loading-small,
.loading-mini {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-small div,
.loading-mini div {
  width: 4.8rem;
  height: 4.8rem;
  background-size: contain;
}

.loading-container {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color ease 0.5s;
  overflow-y: hidden;
}

.loading-mini div {
  width: 1em;
  height: 1em;
  background-image: url(/images/loading-spinner.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
}

html[data-theme="dark"] .loading div,
html[data-theme="dark"] .loading-small div {
  filter: var(--filter-EEF0DE);
}
