@keyframes moons {
  50% {
    background-image: url(/public/images/moon1.svg);
    transform: rotateY(180deg);
  }
  100% {
    background-image: url(/public/images/moon2.svg);
    transform: rotateY(180deg);
  }
}

.loading {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}

.loading div {
  animation-name: moons;
  width: 10.6rem;
  height: 10.6rem;
  background-image: url(/public/images/moon1.png);

  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: center;
}

/* 임시 로딩 구현 */
.loading div {
  position: relative;
  width: 100px;
  height: 90px;
}
.loading div::after,
.loading div::before {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.loading div::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
