/* Comments.module.css */

.commentsContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.commentList {
  list-style-type: none;
  padding: 0;
}

.commentItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.commentItem:last-child {
  border-bottom: none;
}

.delButton {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #f00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #f00;
}
