body:has(.signup-main) {
  width: 100vw;
  height: 100%;
  background: var(--background-pink-top);
  padding: 0 !important;
  display: flex;
  justify-content: center;
}

.signup-main {
  width: 90vw;
  height: fit-content;
  max-width: 86rem;
  margin: 8rem auto 0 auto;
  padding: 4.4rem 0rem 5.3rem 0rem;
  border-radius: 2rem;
  background: var(--background-white);
}

@media (max-width: 720px) {
  .signup-main {
    margin: 8rem 2rem;
  }
}

@media (max-width: 480px) {
  .signup-main {
    padding: 1.6rem 2.5rem;
  }
}
