main:has(.email-signup) {
  position: relative;
}
.email-signup {
  gap: 0;
  margin-top: 0;
}

.input-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0fr;
  column-gap: 2.2rem;
  grid-template-areas:
    "label label"
    "input img"
    "span span";
  margin-bottom: 1.6rem;
}
.input-container label {
  grid-area: label;
}

.input-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-column-gap: 0.6rem;
  column-gap: 0.6rem;
  border-radius: 1rem;
  background-color: var(--input-color);
  grid-area: input;
  border: 0.2rem solid transparent;
}

.input-group input {
  padding-right: 0;
  background: none;
}

.input-group button {
  padding: 0.6rem 2.4rem;
  margin-right: 0.6rem;
  min-height: inherit;
}

.input-group:has(input:invalid) {
  border: 0.2rem solid var(--invalid-border-color);
}

.input-group input:invalid,
.input-group input:valid,
.input-group input:focus,
.input-group input:active,
.input-group input:disabled {
  border: 0 solid transparent;
}

.input-group:has(input:focus) {
  border: 0.2rem solid var(--focus-border-color);
}

.input-group:has(input:disabled) {
  background-color: var(--input-disabled-color);
}

.email-input,
.code-input {
  padding-right: 14rem;
}

.input-container img {
  grid-area: img;
  margin-top: 0.5rem;
}
.invalid-text {
  grid-area: span;
  color: var(--invalid-text-color);
}

.email-verify-btn,
.code-verify-btn {
  color: #fff;
  background-color: var(--email-verify-btn-color);
}

.user-login-field p {
  text-align: center;
}
.user-login-field .login-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.email-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--signup-email-background-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.email-login-button img {
  filter: var(--filter-EEF0DE);
  position: relative;
  top: 0.15rem;
}

.next-btn-row {
  width: 100%;
  display: grid;
  grid-template-areas: "blank msg btn";
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.next-btn-row p {
  grid-area: msg;
  font-size: var(--small-text-font-size);
  color: var(--invalid-text-color);
}

.next-btn-row button {
  margin-left: auto;
  grid-area: btn;
}

.check-your-email {
  font-size: var(--h2-font-size);
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.6rem;
}
@media (max-width: 720px) {
  .input-container {
    column-gap: 1.6rem;
  }
  .next-btn {
    padding: 0.4rem 2rem;
  }
}
@media (max-width: 480px) {
  .input-container input {
    max-height: 4.8rem;
  }
  .email-verify-btn,
  .code-verify-btn {
    padding: 0.6rem 1.2rem;
  }
  .invalid-text,
  .user-login-field {
    font-size: var(--small-text-font-size);
  }
  .user-login-field p {
    margin-bottom: 0.2rem;
  }
}
