main:has(.email-signup) {
  position: relative;
}
.email-signup {
  gap: 0;
  margin-top: 0;
}

.input-container {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 0fr;
  column-gap: 2.2rem;
  grid-template-areas:
    "label label"
    "input img"
    "span span";
  margin-bottom: 1.6rem;
}
.input-container label {
  grid-area: label;
}
.input-container input {
  grid-area: input;
}
.input-container input.invalid {
  border: 0.2rem solid var(--invalid-border-color);
}
.input-container input:first-of-type {
  padding-right: 15rem;
}

.email-input,
.code-input {
  padding-right: 14rem;
}

.input-container img {
  grid-area: img;
  margin-top: 0.5rem;
}
.invalid-text {
  grid-area: span;
  color: var(--invalid-text-color);
}

.email-verify-btn,
.code-verify-btn {
  position: absolute;
  right: 6.9rem;
  top: 4rem;
  color: #fff;
  background-color: var(--email-verify-btn-color);
}
.user-login-field p {
  margin-bottom: 1.4rem;
}
.user-login-field .login-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.email-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--signup-email-background-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.email-login-button img {
  filter: var(--filter-EEF0DE);
  position: relative;
  top: 0.15rem;
}
.next-btn {
  position: absolute;
  bottom: 4.3rem;
  right: 5.2rem;
}

.check-your-email {
  font-size: var(--h2-font-size);
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.6rem;
}
@media (max-width: 720px) {
  .input-container {
    padding: 0 1.5rem;
  }
  .email-verify-btn,
  .code-verify-btn {
    right: 8.4rem;
    top: 3.5rem;
  }
  .next-btn {
    bottom: 1.6rem;
    right: 2.5rem;
    padding: 0.4rem 2rem;
  }
}
@media (max-width: 480px) {
  .input-container input {
    max-height: 4.8rem;
  }
  .input-container input:first-of-type {
    padding-right: 12rem;
  }
  .email-verify-btn,
  .code-verify-btn {
    padding: 0.6rem 1.2rem;
  }
  .invalid-text,
  .user-login-field {
    font-size: var(--small-text-font-size);
  }
  .user-login-field p {
    margin-bottom: 0.2rem;
  }
}
